<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
    <div th:replace="~{admin/common :: common-link}"></div>
    <link rel="stylesheet" th:href="@{'/admin/assets/js/plugins/editor.md/css/editormd.min.css'}">
    <link rel="stylesheet" th:href="@{'/admin/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.css'}">
    <link th:href="@{'/admin/assets/js/plugins/dropzonejs/dist/min/dropzone.min.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/admin/assets/js/plugins/dropzonejs/dist/min/basic.min.css'}">
</head>
<body>
<div class="content">
    <div class="block block-fx-shadow">
        <div class="block-content">
            <div class="row justify-content-center py-20">
                <div class="col-xl-12">
                    <form id="saveForm" th:action="@{${baseUrl} + '/add.json'}">
                        <input id="content" type="hidden" name="content" />
                        <input id="coverUrl" type="hidden" name="coverUrl" />
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="标题名 *" name="title" data-bv-notempty="true" data-bv-notempty-message="标题不能为空">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <div class="form-group">
                                    <select class="custom-select" id="categoryId" name="categoryId" data-bv-notempty="true" data-bv-notempty-message="分类不能为空">
                                        <option value="" disabled selected>分类 *</option>
                                        <option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-alt-info" id="extraButton" style="width: 28%">选项</button>
                                    <button type="submit" class="btn btn-primary" id="submitBtn" style="width: 68%">保存</button>
                                </div>
                            </div>
                        </div>
                        <div class="hide" id="extraArea">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" id="tags" name="tags" class="js-tags-input form-control" placeholder="标签" data-height="32px" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="dropzone" id="dropz" style="border: 1px solid #D4DAE3;margin:15px;width: 60%;border-radius: 5px;"></span>
                                <div class="row" style="width: 35%;margin-top: 18px;margin-left: 10px;">
                                    <div class="col-md-12">
                                        <select class="custom-select" id="reprint" name="reprint">
                                            <option value="" disabled selected>是否转载</option>
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select> <br><br>
                                        <input type="text" class="form-control" placeholder="原作者" name="author"><br>
                                        <input type="text" class="form-control" placeholder="原文章地址" name="reprintLink">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div id="postEditor"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="css-control css-control-success css-switch css-control-sm">
                                        <input type="checkbox" class="css-control-input" name="publish" checked>
                                        <span class="css-control-indicator"></span> 是否发表
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="css-control css-control-success css-switch css-control-sm">
                                        <input type="checkbox" class="css-control-input" name="comment" checked>
                                        <span class="css-control-indicator"></span> 是否允许评论
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="css-control css-control-success css-switch css-control-sm">
                                        <input type="checkbox" class="css-control-input" name="top">
                                        <span class="css-control-indicator"></span> 是否置顶
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="~{admin/common :: common-script}"></div>
<script th:src="@{'/admin/assets/js/plugins/dropzonejs/dist/min/dropzone.min.js'}"></script>
<script th:src="@{'/admin/assets/js/plugins/editor.md/editormd.min.js'}"></script>
<script th:src="@{'/admin/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js'}"></script>
<script type="text/javascript" th:inline="javascript">

    Dropzone.autoDiscover = false;
    $(function(){
        Codebase.helpers(['tags-inputs']);
        $("#submitBtn").on("click", function () {
            $.hexo.action.save("saveForm");
        });

        $("#extraButton").off("click").on("click", function () {
            var $area = $("#extraArea");
            if ($area.hasClass("hide")) {
                $area.slideDown("slow");
                $area.removeClass("hide");
            } else {
                $area.addClass("hide");
                $area.slideUp("slow");
            }
        });

        let MyEditor = editormd("postEditor", {
            width   : "100%",
            height  :  $(window.parent).height(),
            syncScrolling : "single",
            path    : "/admin/assets/js/plugins/editor.md/lib/",
            placeholder: "写点内容吧~~",
            toolbarIcons : function() {
                return ["undo","redo","bold","del","italic","quote","ucwords","uppercase","lowercase","h1","h2","h3","h4","h5","h6","list-ul","list-ol","hr","link","reference-link","image","code","preformatted-text","code-block","table","datetime","pagebreak","watch","unwatch","preview","clear","search"]
            },
            codeFold : true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/admin/file/mdUploadFile.json",
            onload: function () {
                $("#postEditor").height($(window.parent).height() - 270)
            },
            onchange : function() {
                $("#content").val(MyEditor.getMarkdown());
            }
        });

        $("#dropz").dropzone({
            method: "POST",
            url: "/admin/file/upload.json", //上传地址
            addRemoveLinks: true,
            maxFiles: 1,// 一次性上传的文件数量上限
            maxFilesize: 10, // 单个上传文件大小，单位：MB
            previewsContainer: null,
            uploadMultiple: false, // 允许批量上传
            parallelUploads: 1, // 每次上传的文件数量，默认值 2
            autoProcessQueue: true, // 是否自动上传
            acceptedFiles: ".jpg, .jpeg, .png, .gif, .webp",
            dictDefaultMessage: '文章封面<br>(支持上传的文件类型*.jpg,*.jpeg,*.png,*.webp)',
            dictMaxFilesExceeded: "每次最多只能上传1个文件！",
            dictResponseError: '文件上传失败!',
            dictInvalidFileType: "支持上传的文件类型*.jpg,*.jpeg,*.png, *.gif,*.webp",
            dictFallbackMessage: "浏览器不支持",
            dictFileTooBig: "最大支持10MB文件上传",
            dictRemoveFile: "删除",
            dictUploadCanceled: "取消",
            thumbnailWidth:"120",
            thumbnailHeight:"120",
            init: function () {
                this.on("error", function (data, message) {
                    if (message.status == 400) {
                        $.hexo.modal.msg("上传失败: 源文件接收失败");
                    }
                });
                this.on("success", function (data, message) {
                    if (message.success) {
                        $("#coverUrl").val(message.data);
                    }
                });
            }
        });

    });
</script>
</body>
</html>