@font-face{
    font-family:'Play';
    font-style:normal;
    font-weight:400;
    src:url('../fonts/Play.woff2') format('woff2');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215
}

body {
    background-color: #f0f2f5;
    color: #34495e;
}

body, th, td, input, textarea {
  font-family: "Play", "Microsoft YaHei", sans-serif;
  /*font-family: "Nunito Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
  color: #6c757d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width:8px;
  height:0;
  background:#ccc;
  border-radius:10px;
}
body::-webkit-scrollbar-thumb {
   display: block;
   width: 8px;
   margin: 0 auto;
   border-radius: 10px;
   background:#aaa;
 }

::selection {
  background: #37b1f3;
  color: #fff
}

::-moz-selection {
  background:#37b1f3;
  color: #fff
}

/** 重置 bootstrap start  */

a {
  color: #37b1f3;
  text-decoration: none !important;
}

a:focus, a:hover {
    color: #30a0dc;
    text-decoration: underline;
}

strong {
    word-break:break-all
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #37b1f3;
  border-color: #37b1f3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #30a0dc;
    border-color: #30a0dc;
}

.form-control {
  border-radius: 0;
  outline-style: none ;
  outline-width: 0;
  border: none ;
  border-style: none ;
  text-shadow: none ;
  -webkit-appearance: none ;
  -webkit-user-select: text ;
  outline-color: transparent ;
  box-shadow: none;

}

.form-control:focus {
  border-color: #37b1f3;
  box-shadow:none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border:0;
}

.alert {
     border-radius: 0;
}

.media-object {
    height: 50%;
}

/** 重置 bootstrap end  */

/** 主页 start  */
.container {
  max-width: 960px;
}

.animate-box {
    opacity: 0;
}

.navbar {
    background-color: #fff;
    border-radius: 0;
    font-weight: bold;
    box-shadow: 0 0 5px #e5e5e8;
    padding: 0 1rem;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #fff;
}

.navbar li a {
    position: relative;
    z-index: 0;
    color: #6c757d !important;
    padding: 1.6rem;
}

.navbar li.active a {
    background-color: #37b1f3 !important;
    color: #fff !important;
}

.navbar li a:hover {
    background-color: #37b1f3 !important;
    color: #fff !important;
}

.navbar-brand img {
    width: 42px;
    height: 42px;
    margin-top: -10px;
    border-radius: 3px;
}

.image-banner {
    position: relative;
    box-shadow: 0 0 36px #e5e5e8;
    margin-bottom: 22px;
}

.image-banner .image-content {
    position: relative;
    width: 100%;
    height: 274px;
}

.image-banner .image-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 36px 16px #efebeb;
}

.image-banner .image-content canvas {
    position: absolute;
    top: 0;
}

.image-banner .descr {
    background-color: #fff;
    color: #6c757d;
    padding: 10px 30px;
}

.image-banner .descr a {
    color: #6c757d !important;
}

.image-banner .title {
    position: absolute;
    display: inline-block;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 18px;
}

.image-banner .word_1,.image-banner .word_2 {
    position: absolute;
    font-size: 20px;
    text-shadow: 0 1px 10px #000;
}

.image-banner .word_1 {
    bottom: 110px;
    right: 56px;
}

.image-banner .word_2 {
    bottom: 70px;
    right: 30px;
}

.ml-content {
    position: relative;
    background-color: #fff;
    padding: 2em;
    margin-bottom: 1em;
    box-shadow: 0 1px 14px 1px #e8e9ea;
}

.ml-content-title {
  margin-bottom:25px;
}

.ml-content .post {
  margin-bottom: 2em;
}

.post-info {
    transition: all 1s;
    border:1px solid #eee;
    max-height: 400px;
    background: #fff;
    margin-bottom: 22px;
    box-shadow: 0 1px 14px 1px #e8e9ea;
}

.post-info .post-bg {
    position: relative;
    color: #fff;
    text-align: center;
    background-color: #000 !important;
    width: 100%;
    height: 215px;
    overflow: hidden;
}

.post-info .post-bg:hover i {
    background-color: #37b1f3;
}

.post-info .post-bg a > img {
    object-fit: cover;
    transition: all .5s;
    height: 215px;
}

.post-info .post-bg a > img {
    transform: scale(1.1);
}

.post-info .post-bg .top {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 1;
}

.post-info .post-bg .mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #000;
    opacity: .4;
}

.ml-content .post-bg div.category {
    position: absolute;
    left:0;
    right:0;
    top:30%;
    opacity: 0;
    transition: all .2s;
    color:#fff;
    font-weight: bold;
}

.ml-content .post-bg div.tags {
    position: absolute;
    left:0;
    right:0;
    bottom:30%;
    opacity: 0;
    transition: all .2s;
    color:#fff;
    font-weight: bold;
}

.post-info:hover img.lazy {
    transform: scale(1.5);
}

.post-info:hover div.mask {
    display: block;
    opacity: .6;
}

.post-info:hover div.category {
    top:35%;
    opacity: 1;
}

.post-info:hover div.tags {
    bottom:35%;
    opacity: 1;
}

.post-info .post-title, .post-info .post-date{
 margin: 10px 2px;
}

.post-info .post-date {
    position: absolute;
    top: 176px;
    color: #fff;
    font-size: 12px;
}

.post-info .post-summary {
    height: 64px;
    overflow: hidden;
}

.post-info .nums {
    position: absolute;
    top: 186px;
    right: 28px;
    color: #fff;
    font-size: 12px;
}

.post-info .post-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}

.post-info .originality {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: #b9c7ce;
    padding: 3px 6px;
    font-size: 12px;
    z-index: 3;
}

.post-info .reprint {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: rgb(227,62,51);
    padding: 3px 6px;
    font-size: 12px;
    z-index: 3;
}

.post-info .post-data {
  padding: 5px 12px;
  max-height: 100px;
  color: #6c757d;
}

.post-info hr {
    margin-top: 0;
    width: 90%;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}

.post-info .post-abstract {
  padding:5px 10px;
  min-height: 62px;
  max-height:62px;
  overflow: hidden;
}

.post-info .show-btn {
    padding: 24px 0;
}

.post-info .show-btn .button {
    position: relative;
    width: auto;
    height: auto;
    color: #6c757d;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    margin: 0;
    padding: 10px 20px;
    background: none;
    overflow: hidden;
    transition: all .3s ease;
}

.post-info .show-btn .button span {
    display: inline-block;
    opacity: 0;
    color: #6c757d;
    transform: translate3d(0, -10px, 0);
    transition: transform .3s, opacity .3s cubic-bezier(.75, 0, .125, 1);
}

.post-info .show-btn .button::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    transition: transform .3s, opacity .3s cubic-bezier(.75, 0, .125, 1);
}

.post-info .show-btn .button:hover::before {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

.post-info .show-btn .button::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    left: 50%;
    bottom: 0;
    display: block;
    background: #37b1f3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: width .2s cubic-bezier(.2, .3, .25, .9) .4s, background .2s cubic-bezier(.2, .3, .25, .9) 0s;
}

.post-info .show-btn .button:hover::after {
    width: 100%;
    background: #37b1f3;
    transition: width .2s cubic-bezier(.2, .3, .25, .9) 0s, background .2s cubic-bezier(.2, .3, .25, .9) 0s;
}

.post-info .show-btn .button b {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    transition: all .2s ease-in;
}

.post-info .show-btn .button b::before, .post-info .show-btn .button b::after {
    content: '';
    display: block;
    position: absolute;
    background: #37b1f3;
    -webkit-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}

.post-info .show-btn .button b:nth-child(1) {
    height: 100%;
}

.post-info .show-btn .button b:nth-child(2) {
    width: 100%;
    height: 1px;
}

.post-info .show-btn .button b:nth-child(1)::before, .button b:nth-child(1)::after {
    width: 1px;
    height: 100%;
    bottom: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom center;
    transition: transform .2s cubic-bezier(.2, .3, .25, .9) .2s, background .2s cubic-bezier(.2, .3, .25, .9) 0s;
}

.post-info .show-btn .button b:nth-child(1)::before {
    left: 0;
}

.post-info .show-btn .button b:nth-child(1)::after {
    right: 0;
}

.post-info .show-btn .button b:nth-child(2)::before, .button b:nth-child(2)::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    transform: scale3d(0, 1, 1);
    transition: transform .2s cubic-bezier(.2, .3, .25, .9) 0s, background .2s cubic-bezier(.2, .3, .25, .9) 0s;
}

.post-info .show-btn .button b:nth-child(2)::before {
    left: 0;
    transform-origin: bottom left;
}

.post-info .show-btn .button b:nth-child(2)::after {
    right: 0;
    transform-origin: bottom right;
}

.post-info .show-btn .button:hover b:nth-child(1)::before, .button:hover b:nth-child(1)::after {
    background: #37b1f3;
    transform: scale3d(1, 1, 1);
    transition: transform .2s cubic-bezier(.2, .3, .25, .9) .2s, background .2s cubic-bezier(.2, .3, .25, .9) 0s;
}

.post-info .show-btn .button:hover b:nth-child(2)::before, .button:hover b:nth-child(2)::after {
    background: #37b1f3;
    transform: scale3d(1, 1, 1);
    transition: transform .2s cubic-bezier(.2, .3, .25, .9) .4s, background .2s cubic-bezier(.2, .3, .25, .9) 0s;
}

.post-info .show-btn .button:hover span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.post-info .show-btn .button:hover span:nth-child(3) {
    transition-delay: .15s;
}

.post-info .show-btn .button:hover span:nth-child(4) {
    -webkit-transition-delay: .20s;
    transition-delay: .20s;
}

.post-info .show-btn .button:hover span:nth-child(5) {
    transition-delay: .25s;
}

.post-info .show-btn .button:hover span:nth-child(6) {
    transition-delay: .30s;
}

.pagination-bar {
    text-align: center;
    margin-bottom: 22px;
}

.pagination-bar i {
   font-size: 16px;
}

.pagination-bar a {
    display: inline-block;
    margin: 10px 0px;
    width: 30px;
    height: 30px;
    line-height: 18px;
    padding: 5px;
    text-decoration: none;
    background: #e4e7ea;
    color: #fff;
}

.pagination-bar a.current {
    background-color: #37b1f3;
    color: #fff;
}

.pagination-bar a:hover {
   background-color: #37b1f3;
   color: #fff;
}

.to-top {
    position: fixed;
    right: 15px;
    bottom: 72px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0 0 10px 1px #d4d2d2;
}

.to-hide {
    right: -70px;
}

.to-top:hover {
  background-color: #37b1f3;
  color: #fff;
}

.footer-copyright {
    height: 80px;
    line-height: 80px;
    letter-spacing: 0;
    background-color: #fff;
    padding: 0 24px;
}

.footer-copyright a{
  display: inline-block;
  color: #6c757d;
  text-decoration:none;
}

.footer-copyright a:hover{
  color: #37b1f3;
}

.footer-copyright .contract-info {
    display: inline-block;
    padding: 0;
}

.footer-copyright .contract-info li {
    float: left;
    list-style: none;
    padding: 0 10px;
}

/** 主页 end  */

/** 归档 start **/
.archive-body {
  max-width: 800px;
  margin-left: 35px;
  padding-left: 40px;
  position: relative;
  border-left: 1px solid #cecece;
}

.archive-body:before {
    position: absolute;
    left: -10px;
    top: 0px;
    content: "";
    width: 18px;
    height: 18px;
    border: 4px solid #daf9f5;
    border-radius: 50%;
    background: #37b1f3;
}

.archive-body:after {
    position: absolute;
    left: -10px;
    bottom: 0px;
    content: "";
    width: 18px;
    height: 18px;
    border: 4px solid #daf9f5;
    border-radius: 50%;
    background: #37b1f3;
}

.archives a {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 0;
  color: #6c757d;
  font-style: normal;
  text-decoration:none;
}

.archives a:hover:before {
  transform: scaleX(1);
}

.archives a:before {
    position: absolute;
    transition: all .3s;
    content: "";
    display: inline-block;
    background: #37b1f3;
    z-index: -1;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    bottom:8px;
    left: 0;
    right: 0;
    margin: auto;
}


.archives .time {
  color: #aaa;
  padding-right: 35px;
}

.archive-content h3 {
  padding-bottom: 10px;
  position: relative;
}

.archive-content h3:before {
    position: absolute;
    left: -50px;
    content: "";
    width: 18px;
    height: 18px;
    border: 4px solid #daf9f5;
    border-radius: 50%;
    background: #37b1f3;
    box-sizing: border-box;
}

/** 归档 end **/

/** 分类 start  */
.category-item {
    border: 1px solid #e1e1e1;
    width: 100%;
    text-align:center;
    background-size: cover;
    margin-bottom: 2em;
    transition: all .3s;
    box-shadow: 0 0 5px #d5d8da;
}

.category-item:hover {
    box-shadow: 0 1px 20px 1px #ccc;
}

.category-item a img {
    width: 100%;
    height:150px;
    object-fit: cover;
}

.category-item a:hover {
    text-decoration: none;
}

.category-item .descr {
    color: #6c757d;
    text-align: center;
    padding: 10px;
}

/** 分类 end  */

/** 友链 start  */

h4.friend-link-title {
    border-left: 3px solid #d4dcda;
    padding-left: 5px;
}

.friend-link-item {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
    transition: all .3s;
    border: 1px solid #e1e1e1;
}

.friend-link-item:hover {
    box-shadow: 0 1px 10px #d0cfcf;
}

.friend-link-item .bgColor {
    width: 62px;
    height: 62px;
}

.friend-link-item .info {
    position: absolute;
    width: 180px;
    height: 62px;
    top: 5px;
    left: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-link-item .remark {
    text-align: left;
    color: #6c757d;
}

/** 友链 end  */

/**留言start **/



/** 留言 end */

/** 文章页 start */

.tocContainer {
  position: absolute;
  top:180px;
  right: -48px;
}

.post-header {
  position: relative;
  margin-bottom:12px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dee1e2;
}

.post-content {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
  background-color: #fff;
}

.post-content h2,
.post-content h3,
.post-content h4 {
  font-weight: 600;
}

.post-content h2 {
  font-size: 22px;
}

.post-content h3 {
  font-size: 16px;
}

.post-content h4 {
  font-size: 14px;
}

.post-content img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.post-content blockquote {
  color: #666;
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-left: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.post-content p, .post-content blockquote p {
  font-size: 15px;
}
.post-content p code {
  margin-left: 5px;
  margin-right: 4px;
}

.post-content hr {
  height: 1px;
  border: none;
  border-top: 1px solid #ddd;
  background: none;
}

.post-content p.editormd-tex {
  text-align: center;
}
.post-content span.editormd-tex {
  margin: 0 5px;
}
.post-content .emoji {
  width: 24px;
  height: 24px;
}
.post-content .katex {
  font-size: 1.4em;
}
.post-content .sequence-diagram, .post-content .flowchart{
  margin: 0 auto;
  text-align: center;
}
.post-content .sequence-diagram svg, .post-content .flowchart svg{
  margin: 0 auto;
}
.post-content .sequence-diagram text, .post-content .flowchart text {
  font-size: 15px !important;
  font-family: Play,"Microsoft YaHei";
}

.postContainer h1.post-title {
    font-size: 30px !important;
}

.postContainer .post-header {
    position: relative;
}

.postContainer .post-header .blogger-info > img {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

.postContainer .post-header .blog-author,
.postContainer .post-header .post-date {
    position: absolute;
    left: 64px;
}

.postContainer .post-header .post-date {
    top: 24px;
}

.postContainer .post-header .post-nums {
    position: absolute;
    top: 6px;
    right: 0;
}

.postContainer .highlight {
    border-radius: 1px;
    font-family: "Nunito Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.postContainer .highlight table {
    margin: 0;
    width: auto;
    border: none;
}

.postContainer pre, .highlight {
    overflow: auto;
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    color: #6c757d;
    background: #f7f7f7;
    line-height: 1.6;
}

.postContainer .highlight td {
    border: none;
    padding: 0;
}

.postContainer pre::-webkit-scrollbar, .highlight::-webkit-scrollbar {
    height:4px;
}

.postContainer pre::-webkit-scrollbar-thumb, .highlight::-webkit-scrollbar-thumb {
    width:5px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

.postContainer pre::-webkit-scrollbar-track, .highlight::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.postContainer .gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.postContainer .highlight pre {
    border: none;
    margin: 0;
    padding: 10px 0;
}

.postContainer .highlight .gutter pre {
    padding-left: 10px;
    padding-right: 10px;
    color: #869194;
    text-align: right;
    background-color: #eff2f3;
}

.postContainer .highlight .code pre {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
}

.postContainer .highlight .hljs {
    font-size: 14px;
    color: #6c757d;
    font-family: "Nunito Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.postContainer .reward-img-area {
    margin-top: 32px;
}

.postContainer .reward {
    margin: 12px 0;
    padding: 10px 0;
}

.postContainer .reward .reward-img {
    display: inline-block;
    margin: 0.8em 2em 0 2em;
}

.postContainer .reward .reward-img img {
    box-shadow: 0 1px 5px #a1a3a5;
}

.postContainer .reward .reward-desc {
    margin-top: 10px;
    color: #6c757d;
}

.post-copyright {
   list-style: none;
   padding: 0;
}

.post-other-info {
  border-top: 1px solid #dee1e2;
  padding:2em 0;
}

.post-content a, .post-copyright a,.post-other-info a{
  position: relative;
  color:#777;
  font-weight:600;
  text-decoration: none;
  display: inline-block;
  transition: all .3s;
}

.post-content a:hover, .post-copyright a:hover,.post-other-info a:hover{
  color:#37b1f3;
}

.post-other-info a.prev:before {
  position: absolute;
  font-family:FontAwesome;
  content: "\f177";
  left: -10px;
  transform: scale(0);
  transition: all .2s;
  color:#37b1f3;
}

.post-other-info a.prev:hover {
    margin-left: 20px;
}

.post-other-info a.prev:hover:before {
  left:-20px;
  transform: scale(1);
}

.post-other-info a.next:before {
  position: absolute;
  font-family:FontAwesome;
  content: "\f178";
  right: -10px;
  transform: scale(0);
  transition: all .2s;
  color:#37b1f3;
}

.post-other-info a.next:hover {
    margin-right: 20px;
}

.post-other-info a.next:hover:before {
  right:-20px;
  transform: scale(1);
}

.btn-default:hover {
    color: #333;
    border-color: #60c5b9;
    background-color: #60c5b9;
}

.shareContainer {
    position: relative;
    height: 50px;
    margin: 20px auto;
}

.shareContainer .btns {
    position: absolute;
    z-index: 9999;
}

.social-share {
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: all .5s;
    top: 0;
    left: 0;
}

.share-open {
    opacity: 1;
    top:-3px;
    left: 140px;
}

/** 文章页 end */

.notification_success {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.notification_info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.notification_warning {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.notification_error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}



/** ======================移动端==========================  */


@media screen and (max-width: 768px) {
  .ml-content {
    width: 100%;
  }

  .ml-content {
    padding: 1em;
  }

  .image-banner .title {
     font-size: 13px;
  }

  .footer-copyright {
      padding: .2em 0;
      text-align:center;
   }

  header .navbar-header {
      height: 58px;
  }

   .footer-copyright span, .footer-copyright a{
       float: none !important;
       font-size: 12px;
   }

   .image-banner img {
       height: 180px;
   }

    .image-banner .image-content {
        height: 180px;
    }

    .image-banner .descr {
        padding: 10px 12px;
    }

    .post-info {
        max-height: 370px;
        background-color: #fff;
    }

    .navbar {
        padding: 0;
    }

    .navbar-brand img {
        width: 42px;
        height: 42px;
        margin-top: -8px;
        border-radius: 2px;
    }

    .post-info .post-bg {
        width: 100%;
        height: 100%;
    }

    .post-info .show-btn {
        margin-top: 10px;
        padding: 6px 0;
        height: 68px;
    }

    /** 归档 start **/
    .archive-body {
      max-width: 800px;
      margin-left: -40px;
      position: relative;
    }

    .archive-body:before {
      content: "";
      width: 0;
      height: 0;
    }

    .archive-body:after {
      content: "";
      width: 0;
      height: 0;
    }

    .archives a {
        position: relative;
        z-index: 0;
        display: block;
        padding: 5px 0;
        color: #333;
        font-style: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .archives a:hover{
      color: #37b1f3;
      text-decoration: none;
    }

    .archives .time {
      color: #888;
      padding-right: 10px
    }

    .archive-content h3 {
      position: relative;
      padding-bottom: 8px;
      font-size:15px;
    }

    .archive-content h3:before {
      content: "";
      width: 0px;
      height: 0px;
      border: none;
      border-radius: 50%;
      background: #37b1f3;
      position: absolute;
      left: -50px;
    }

    .archive-content .archive-title {
      margin-bottom: 30px;
    }

    /** 归档 end **/

    /** 文章页 start */

    .postContainer .post-header {
        position: relative;
        margin-bottom:12px;
        padding:10px 0px;
        border-bottom: 1px solid #dee1e2;
        height: 56px;
        font-size: 12px;
    }

    .postContainer .post-header .blog-author, .postContainer .post-header .post-date {
        left: 0;
    }

    .postContainer .post-header .post-date, .postContainer .post-header .post-comment{
        top: 30px
    }

    .post-content {
      text-align: left;
      font-size: 12px;
      line-height: 1.6;
      width: 100%;
      background-color: #fff;
    }

    .post-content h2 {
      font-size: 20px;
    }

    .post-content h3 {
      font-size: 16px;
    }

    .post-content h4 {
      font-size: 14px;
    }

    .post-content a img {
      width:100% !important;
    }

    .post-content blockquote {
      color: #666;
      border-left: 4px solid #ddd;
      padding-left: 20px;
      margin-left: 0;
      margin-bottom: 20px;
      font-size: 14px;
    }

    .post-content p, .post-content blockquote p {
      font-size: 15px;
    }
    .post-content p code {
      margin-left: 5px;
      margin-right: 4px;
    }

    .post-content hr {
      height: 1px;
      border: none;
      border-top: 1px solid #ddd;
      background: none;
    }

    .post-content pre {
      border: 1px solid #ddd;
      border-radius:0;
      padding:0;
    }
    .post-content pre code {
      padding: 4px;
    }
    .post-content pre, .post-content code, .post-content kbd {
      font-family: Play,"Microsoft YaHei";
    }

    .post-content p.editormd-tex {
      text-align: center;
    }
    .post-content span.editormd-tex {
      margin: 0 5px;
    }
    .post-content .emoji {
      width: 24px;
      height: 24px;
    }
    .post-content .katex {
      font-size: 1.4em;
    }
    .post-content .sequence-diagram, .post-content .flowchart{
      margin: 0 auto;
      text-align: center;
    }
    .post-content .sequence-diagram svg, .post-content .flowchart svg{
      margin: 0 auto;
    }
    .post-content .sequence-diagram text, .post-content .flowchart text {
      font-size: 14px !important;
      font-family: Play,"Microsoft YaHei";
    }

/*.hljs {*/
/*  border: 0;*/
/*  font-size: 12px;*/
/*  display: block;*/
/*  padding: 1px;*/
/*  margin: 0;*/
/*  width: 100%;*/
/*  white-space: pre-wrap*/
/*}*/
/*.hljs ol {*/
/*  list-style: decimal;*/
/*  margin: 0px 0px 0 30px !important;*/
/*  padding: 0px;*/
/*}*/
/*.hljs ol li {*/
/*  list-style: decimal-leading-zero;*/
/*  border-left: 1px solid #ddd !important;*/
/*  padding: 3px 10px !important;*/
/*  margin: 0 !important;*/
/*  white-space: pre;*/
/*  font-size: 14px;*/
/*}*/

.highlight {
    border-radius: 1px;
}

.highlight table {
    margin: 0;
    width: auto;
    border: none;
}

pre, .highlight {
    overflow: auto;
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
}

.highlight td {
    border: none;
    padding: 0;
}

.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.highlight pre {
    border: none;
    margin: 0;
    padding: 10px 0;
}

.highlight .gutter pre {
    padding-left: 10px;
    padding-right: 10px;
    color: #869194;
    text-align: right;
    background-color: #eff2f3;
}

.highlight .code pre {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
}

.post-copyright {
   margin-top: 20px;
   list-style: none;
   padding: 0;
}

.post-other-info {
  border-top: 1px dashed #ccc;
  padding:1em 0;
}

.post-other-info a {
  float: none !important;
  margin-bottom: 1em;
}

.post-other-info a.pull-right {
    position: absolute;
    right: 20px;
}

/** 文章页 end */

}

.real-time-search-container .real-time-search-btn:hover {
    background-color: #37b1f3;
    color: #fff;
}

.real-time-search-container .real-time-search-body .highlight_list li:hover {
    background-color: #37b1f3;
    color: #fff;
}

.real-time-search-container .real-time-search-body .highlight_list  a .highlight {
    background-color: #37b1f3 !important;
    color: #fff !important;
    padding: 5px;
}

.color-turquoise {
    background-color: #37b1f3;
    color: #fff;
}

.color-emerald {
    background-color: #2ECC71;
    color: #fff;
}

.color-peter-river {
    background-color: #3498DB;
    color: #fff;
}

.color-amethyst {
    background-color: #9B59B6;
    color: #fff;
}

.color-wet-asphalt {
    background-color: #34495E;
    color: #fff;
}

.color-sun-flower {
    background-color: #F1C40F;
    color: #fff;
}

.color-carrot {
    background-color: #E67E22;
    color: #fff;
}

.color-alizarin {
    background-color: #E74C3C;
    color: #fff;
}

.color-clouds {
    background-color: #ECF0F1;
    color: #bdc3c7;
}

.color-concrete {
    background-color: #95A5A6;
    color: #fff;
}

.comment-container .comment-data .comment-data-title, .comment-container .comment-list .comment-list-title {
    border-bottom: none !important;
}

.comment-container h2 {
    font-size: 22px !important;
    font-weight: bold;
}

.comment-data-body .comment-data-body-info img {
    margin-top: -5px !important;
}

.comment-data-body .comment-data-body-btns .send-message-btn,
.second-comment-data-body .comment-data-body-btns .send-message-btn{
    background-color: #37b1f3 !important;
    border: 1px solid #37b1f3 !important;
}

.comment-data-body .comment-data-body-btns .send-message-btn:hover,
.second-comment-data-body .comment-data-body-btns .send-message-btn:hover {
    background-color: #16a78a !important;
}

.comment-container .comment-list .comment-list-item .date {
    background-color: #37b1f3 !important;
}

.comment-list .comment-list-page-bar ul li {
    background-color: #37b1f3 !important;
}

.comment-list .comment-list-page-bar ul li {
    background-color: #e4e7ea !important;

}

.comment-list .comment-list-page-bar ul li a {
    color: #fff;
}

.comment-list .comment-list-page-bar ul li.active a {
    background-color: #37b1f3 !important;
}

.comment-list .comment-list-page-bar ul li a:hover {
    background-color: #37b1f3 !important;
}

