<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.light.hexo.business.admin.mapper.GuestBookMapper">

    <update id="updateDelStatusBatch">
        UPDATE t_guest_book SET is_delete = 1 WHERE id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectListByBannerIdList" parameterType="java.lang.Integer" resultType="com.light.hexo.business.admin.model.GuestBook">
        SELECT
        b.id,
        b.p_id,
        b.banner_id,
        b.source_nickname,
        b.content,
        b.is_delete AS `delete`,
        b.browser,
        b.praise_num,
        b.create_time,
        u.nickname,
        u.avatar
        FROM t_guest_book b
        INNER JOIN t_user u ON b.user_id = u.id
        WHERE b.banner_id IN
        <foreach collection="bannerIdList" item="bannerId" open="(" separator="," close=")">
            #{bannerId}
        </foreach>
        AND b.is_delete = 0
        ORDER BY b.create_time ASC
    </select>

</mapper>