<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.light.hexo.business.admin.mapper.ThemeExtendMapper">

    <insert id="updateBatchByConfigName" parameterType="java.util.List">
        INSERT INTO t_theme_extend(theme_id, config_name, config_value, config_label, config_type, config_option, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.themeId}, #{item.configName}, #{item.configValue}, #{item.configLabel},#{item.configType},#{item.configOption}, #{item.createTime}, #{item.updateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE config_value = VALUES(config_value),config_label = VALUES(config_label),config_type = VALUES(config_type), config_option = VALUES(config_option),update_time = now()
    </insert>

    <update id="updateBatchById" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE t_theme_extend
            <set>
                config_value = #{item.configValue}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>