<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
    <div th:replace="~{admin/common :: common-link}"></div>
    <link th:href="@{'/admin/assets/js/plugins/dropzonejs/dist/min/dropzone.min.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/admin/assets/js/plugins/dropzonejs/dist/min/basic.min.css'}">
</head>
<body>

<div class="content">
    <div class="block block-fx-shadow">
        <div class="block-content">
            <div class="row justify-content-center py-20">
                <div class="col-xl-6">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input type="hidden" id="imgUrl" name="imgUrl">
                        </div>
                        <span class="dropzone" id="dropz" style="border: 1px solid #D4DAE3;margin-left: 5px;margin-right: 5px;width: 100%;border-radius: 5px;"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-8 text-center">
                            <button type="button" class="btn btn-primary" id="uploadBtn">上传</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="~{admin/common :: common-script}"></div>
<script th:src="@{'/admin/assets/js/plugins/dropzonejs/dist/min/dropzone.min.js'}"></script>
<script type="text/javascript" th:inline="javascript">

    Dropzone.autoDiscover = false;
    $(function(){
        $("#dropz").dropzone({
            method: "POST",
            url: "/admin/attachment/uploadBatch.json", //上传地址
            addRemoveLinks: true,
            maxFiles: 10,// 一次性上传的文件数量上限
            maxFilesize: 100, // 单个上传文件大小，单位：MB
            previewsContainer: null,
            uploadMultiple: true, // 允许批量上传
            parallelUploads: 10, // 每次上传的文件数量，默认值 2
            autoProcessQueue: false, // 是否自动上传
            acceptedFiles: ".jpg, .jpeg, .png, .gif, .webp, .txt, .md, .sql, .pdf, .doc, .docx, .xls, .xlsx, .ppt",
            dictDefaultMessage: '+<br>(仅支持上传的文件类型*.jpg,*.jpeg,*.png, *.gif,*.webp, *.txt, *.md, *.sql, *.pdf, *.doc, *.docx, *.xls, *.xlsx, *.ppt，最大上传100MB)',
            dictMaxFilesExceeded: "每次最多只能上传10个文件",
            dictResponseError: '文件上传失败',
            dictInvalidFileType: "仅支持上传的文件类型*.jpg,*.jpeg,*.png, *.gif,*.webp, *.txt, *.md, *.sql, *.pdf, *.doc, *.docx, *.xls, *.xlsx, *.ppt",
            dictFallbackMessage: "浏览器不支持",
            dictFileTooBig: "最大支持100MB文件上传",
            dictRemoveFile: "删除",
            dictUploadCanceled: "取消",
            thumbnailWidth:"120",
            thumbnailHeight:"120",
            init: function () {
                let myDropZone = this;
                let $uploadBtn = $("#uploadBtn");
                $uploadBtn.on("click", function(e) {
                    e.preventDefault();
                    // 手动上传所有图片
                    myDropZone.processQueue();
                });

                //当添加图片后的事件，上传按钮恢复可用
                this.on("addedfile", function () {
                    $("#uploadBtn").removeAttr("disabled");
                });

                this.on("error", function (data, message) {
                    console.error(message);
                    if (typeof message == "string") {
                        $.hexo.modal.tip("上传失败: " + message, "error");
                    } else{
                        $.hexo.modal.tip("上传失败: " + message.error, "error");
                    }
                });

                this.on("success", function (data, resp) {
                    console.log(resp);
                    if (!resp.success) {
                        $.hexo.modal.tip("上传失败: " + resp.message, "error");
                        return;
                    }

                    if (resp.data.extraMsg) {
                        $.hexo.modal.tip("提示: " + resp.data.extraMsg, "info");
                    }

                    let errorArr = resp.data.error;
                    if (errorArr.length > 0) {
                        let arr = [];
                        for (let i = 0; i < errorArr.length; i++) {
                            arr.push(errorArr[i]);
                        }
                        $.hexo.modal.tip(arr.join(",") + "文件上传失败", "warning");
                        return;
                    }

                    window.parent.AttachmentManager.query();
                });
            }
        });

    });
</script>
</body>
</html>