<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/default/layout}">

<head>
    <title th:text="${#servletContext.getAttribute('configMap')['blog_name']} + ' | 关于'"></title>
    <link rel="stylesheet" th:href="@{'/admin/assets/custom/jquery-comment/jquery-comment.css'}">
</head>
<body>
<div layout:fragment="content">
    <div class="ml-content">
        <div class="ml-content-title">
            <h3>关于</h3>
        </div>
        <div id="postContainer" class="postContainer" aos="fade-up">
            <div class="post-content"  th:utext="${md.md2html(#objects.nullSafe(about.descr, '懒人一枚~~'))}"></div>
            <div class="alert alert-info" role="alert">
                <ul class="post-copyright">
                    <li>
                        <strong>本文作者:</strong> <b>[[${#servletContext.getAttribute('configMap')['blog_author']}]]</b>
                    </li>
                    <li>
                        <strong>本文链接:</strong> <a id="shareUrl" class="alert-link" th:href="@{${#servletContext.getAttribute('configMap')['home_page']} + '/about/'}" target="_blank" th:text="${#servletContext.getAttribute('configMap')['home_page']+'/about/'}"></a>
                    </li>
                    <li>
                        <strong>版权声明:</strong>  本博客所有文章除特别声明外均为原创，采用 <a th:href="@{${#servletContext.getAttribute('configMap')['license_url']}}" class="alert-link" target="_blank" th:text="${#servletContext.getAttribute('configMap')['license']}"></a> 许可协议。转载请在文章开头明显位置注明原文链接和作者等相关信息，明确指出修改（如有），并通过 E-mail 等方式告知，谢谢合作！
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 留言 -->
    <div id="comment-container" class="comment-container"></div>

    <script type='text/javascript' th:src="@{${prefix} + '/source/js/jquery.min.js'}"></script>
    <script th:src="@{'/admin/assets/custom/jquery-comment/jquery.cookie.js'}"></script>
    <script th:src="@{'/admin/assets/custom/jquery-comment/jquery-comment.js'}"></script>
    <script th:src="@{${prefix} + '/source/js/about.js'}"></script>
    <script type="text/javascript" th:inline="javascript">
       $(function () {
           let nickname = [[${#servletContext.getAttribute('configMap')['blog_author']}]];
           GuestBookManager.init(nickname);
       });
    </script>
</div>
</body>
</html>