<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/default/layout}">

<head>
    <title th:text="${#servletContext.getAttribute('configMap')['blog_name']} + ' | 分类'"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="ml-content">
        <div class="ml-content-title">
            <h3>分类([[${categoryNum}]])</h3>
        </div>
        <div class="ml-content-body">
            <div class="row">
                <div class="col-sm-6  col-md-3" aos="fade-up" aos-once="true" th:aos-delay="${iterStat.index * 150}" th:each="category,iterStat: ${categoryList}">
                   <div  class="category-item">
                       <a th:href="@{'/categories/'+${category.name}+'/'}">
                           <img th:src="@{${category.coverUrl}}" alt="">
                           <div class="descr">
                               [[${category.name}]]<span>([[${category.postNum}]])</span>
                           </div>
                       </a>
                   </div>
                </div>
            </div>
            <div th:if="${count == 0}" th:style="'text-align:center;'" th:text="'~~作者偷懒，没有创建分类栏目~~'"></div>
        </div>
    </div>
</div>
</body>
</html>