<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/default/layout}">

<head>
    <title>分类 | [[${#servletContext.getAttribute('configMap')['blog_name']}]]</title>
</head>
<body>
<div layout:fragment="content">
    <!-- 图片 -->
    <div class="image-banner" style="color: #fff">
        <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == true}"><img th:data-original="@{${currentNav.cover}}" class="lazy"></div>
        <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == false}"><img th:data-original="@{${prefix} + '/source/images/category.png'}" class="lazy"></div>
        <div class="descr">
            <a th:href="@{/}">首页  /  </a>
            <a href="javascript:void(0)">分类</a>
        </div>
        <div class="title">分类</div>
    </div>

    <div class="ml-content">
        <div class="ml-content-body">
            <div class="row">
                <div class="col-sm-6 col-md-3" th:each="category,iterStat: ${categoryList}">
                   <div class="category-item animate-box" data-animate-effect="fadeInUp">
                       <a th:href="@{'/categories/'+${category.name}+'/'}">
                           <img th:src="@{${category.coverUrl}}" alt="">
                           <div class="mask"><span>[[${category.remark}]]</span></div>
                           <div class="descr">
                               [[${category.name}]]<span>([[${category.postNum}]])</span>
                           </div>
                       </a>
                   </div>
                </div>
            </div>
            <div th:if="${count == 0}" th:style="'text-align:center;'" th:text="'~~作者偷懒，没有创建分类栏目~~'"></div>
        </div>
    </div>
</div>
</body>
</html>