<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{theme/default/common :: meta}"></div>
    <meta property="og:title" th:content="${'分类 | ' + #servletContext.getAttribute('configMap')['blog_name']}" />
    <title>分类 | [[${#servletContext.getAttribute('configMap')['blog_name']}]]</title>
    <div th:replace="~{theme/default/common :: link}"></div>
</head>

<body>
<div class="ml-container" id="pageContainer">
    <div class="container">
        <!-- 导航 -->
        <div th:replace="~{theme/default/common :: nav}"></div>

        <!-- 内容 -->
        <div id="wrap" class="content">
            <!-- 图片 -->
            <div class="image-banner" style="color: #fff">
                <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == true}"><img th:data-original="@{${currentNav.cover}}" class="lazyload"></div>
                <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == false}"><img th:data-original="@{${prefix} + '/source/images/category.png'}" class="lazyload"></div>
                <div class="descr">
                    <a data-pjax th:href="@{/}">首页  /  </a>
                    <a href="javascript:void(0)">分类</a>
                </div>
                <div class="title">分类</div>
            </div>

            <div class="ml-content">
                <div class="ml-content-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3" th:each="category,iterStat: ${categoryList}">
                            <div class="category-item animate-box">
                                <a data-pjax th:href="@{'/categories/'+${category.name}+'/'}">
                                    <img th:data-original="@{${category.coverUrl}}" class="lazyload">
                                    <div class="mask"><span>[[${category.remark}]]</span></div>
                                    <div class="descr">
                                        [[${category.name}]]<span>([[${category.postNum}]])</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div th:if="${count == 0}" th:style="'text-align:center;'" th:text="'~~作者偷懒，没有创建分类栏目~~'"></div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div th:replace="~{theme/default/common :: footer}"></div>
    </div>
    <div th:replace="~{theme/default/common :: script}"></div>
</div>

</body>
</html>