<!doctype html>
<html lang="zh" mode="light" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${#servletContext.getAttribute('configMap')['blog_name']}">个人博客</title>
    <meta name="author" th:content="${#servletContext.getAttribute('configMap')['blog_author']}">
    <meta name="keywords" th:content="${#servletContext.getAttribute('configMap')['keywords']}" />
    <meta name="description" th:content="${#servletContext.getAttribute('configMap')['description']}" />
    <meta name="referrer" content="no-referrer" />
    [(${#servletContext.getAttribute('configMap')['meta_code']})]
    <link rel="shortcut icon" th:href="@{${#servletContext.getAttribute('configMap')['favicon_url']}}"/>
    <link th:href="@{'https://fonts.loli.net/css?family=Poppins:400,500,600'}" rel="stylesheet">
    <link th:href="@{'https://fonts.loli.net/css?family=Open+Sans:400,700&amp;subset=latin-ext'}" rel="stylesheet">
    <span th:if="${activeTheme.configMap['useCDN'] == 'true'}">
        <link rel="stylesheet" th:href="@{'https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'}">
        <link rel="stylesheet" th:href="@{'https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}" />
        <link rel="stylesheet" th:href="@{'/admin/assets/custom/jquery-search/jquery.search.css'}"/>
        <link rel="stylesheet" th:href="@{'https://cdn.bootcdn.net/ajax/libs/animate.css/3.7.0/animate.min.css'}"/>
        <link href="https://cdn.bootcdn.net/ajax/libs/pace/1.2.3/themes/blue/pace-theme-minimal.min.css" rel="stylesheet">
        <script src="https://cdn.bootcdn.net/ajax/libs/pace/1.2.3/pace.min.js"></script>
    </span>
    <span th:if="${activeTheme.configMap['useCDN'] == 'false'}">
        <link rel="stylesheet" th:href="@{${prefix} + '/source/js/bootstrap-3.3.7/css/bootstrap.min.css'}">
        <link rel="stylesheet" th:href="@{${prefix} + '/source/fonts/font-awesome/css/font-awesome.min.css'}" />
        <link rel="stylesheet" th:href="@{'/admin/assets/custom/jquery-search/jquery.search.css'}"/>
        <link rel="stylesheet" th:href="@{${prefix} + '/source/css/animate.css'}"/>
    </span>
    <span th:if="${isDetail == true}">
        <span th:if="${activeTheme.configMap['useCDN'] == 'true'}">
            <link rel="stylesheet" th:href="@{${prefix} + '/source/js/highlightjs/styles/'+ ${activeTheme.configMap['highlight']} +'.min.css'}"/>
            <link rel="stylesheet" th:href="@{'https://cdn.bootcdn.net/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css'}"/>
        </span>
        <span th:if="${activeTheme.configMap['useCDN'] == 'false'}">
            <link rel="stylesheet" th:href="@{${prefix} + '/source/js/highlightjs/styles/atom-one-light.min.css'}"/>
            <link rel="stylesheet" th:href="@{${prefix} + '/source/js/lightbox/css/lightbox.css'}"/>
        </span>
        <link rel="stylesheet" th:href="@{${prefix} + '/source/js/autoToc/jquery.autoToc.css'}"/>
        <link rel="stylesheet" th:href="@{${prefix} + '/source/js/overshare/css/share.min.css'}"/>
    </span>
    <link rel="stylesheet" th:href="@{${prefix} + '/source/css/style.css'}"/>
</head>
<body>
    <div class="ml-container" id="pageContainer">
        <div class="container">
            <!-- 首部 -->
            <header class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <img alt="Brand" th:src="@{${#strings.isEmpty(#servletContext.getAttribute('configMap')['logo_url']) != true ? #servletContext.getAttribute('configMap')['logo_url'] : prefix + '/source/images/logo.png'}}">
                                </a>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">[[${#servletContext.getAttribute('configMap')['blog_name']}]]</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav menu navbar-nav navbar-right">
                                    <li th:each="nav : ${#servletContext.getAttribute('firstNav')}" th:class="${currentNav.code eq nav.code ? 'item active' : 'item'}">
                                        <a th:href="@{${#lists.isEmpty(nav.children) ? nav.link : '#'}}">
                                            <i th:class="${nav.icon}"></i> [[${nav.name}]]
                                        </a>
                                        <ul class="second-menu" th:if="${#lists.isEmpty(nav.children) == false}">
                                            <li class="item" th:each="child : ${nav.children}">
                                                <a th:href="@{${child.link}}"><i th:class="${child.icon}"></i> [[${child.name}]]</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <!-- 内容 -->
            <div layout:fragment="content"></div>

            <!-- 尾部 -->
            <footer class="footer-copyright" id="footer-copyright">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <span class="pull-left">[[${#servletContext.getAttribute('configMap')['power_by']}]]</span>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs" style="text-align: center">
                        <ul class="contract-info">
                            <li class="wechat" th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['wx_account']) != true}">
                                <a th:title="${#servletContext.getAttribute('configMap')['wx_account']}" class="socialicon" href="javascript:void(0)" target="_blank"><i class="fa fa-weixin fa-lg" aria-hidden="true"></i></a>
                            </li>
                            <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['qq_account']) != true}">
                                <a th:title="${#servletContext.getAttribute('configMap')['qq_account']}" class="socialicon" href="javascript:void(0)" target="_blank"><i class="fa fa-qq fa-lg" aria-hidden="true"></i></a>
                            </li>
                            <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['git_hub_account']) != true}">
                                <a title="github" class="socialicon" th:href="@{${#servletContext.getAttribute('configMap')['git_hub_account']}}" target="_blank"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 hidden-xs">
                        <a class="pull-right" href="http://beian.miit.gov.cn/" target="_blank">[[${#servletContext.getAttribute('configMap')['record']}]]</a>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /container -->

        <div class="real-time-search-container" id="real-time-search-container"></div>
        <div class="to-top to-hide" id="toTop"><i class="fa fa-arrow-up"></i></div>
        <div class="mode-container"></div>
    </div>
    <span th:if="${activeTheme.configMap['useCDN'] == 'true'}">
        <script type='text/javascript' th:src="@{'https://cdn.bootcdn.net/ajax/libs/jquery/2.1.4/jquery.min.js'}"></script>
        <script type='text/javascript' th:src="@{'https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'}"></script>
        <script type='text/javascript' th:src="@{'/admin/assets/custom/jquery-search/jquery.hideseek.min.js'}" ></script>
        <script type='text/javascript' th:src="@{'/admin/assets/custom/jquery-search/jquery.search.js'}" ></script>
        <script type='text/javascript' th:src="@{'https://cdn.bootcdn.net/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js'}"></script>
        <script type='text/javascript' th:src="@{${prefix} + '/source/js/circleMagic/circleMagic.min.js'}"></script>
        <script type='text/javascript' th:src="@{'https://cdn.bootcdn.net/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js'}"></script>
        <span th:if="${isDetail == true}">
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/highlightjs/highlight.pack.js'}"></script>
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/overshare/js/social-share.min.js'}"></script>
            <script type='text/javascript' th:src="@{'https://cdn.bootcdn.net/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js'}"></script>
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/autoToc/jquery.autoToc.js'}"></script>
            <script type='text/javascript'>
                $("#tocContainer").autoToc({offsetTop: 520});
                document.addEventListener('DOMContentLoaded', (event) => {
                    document.querySelectorAll('figure span').forEach((block) => {
                        hljs.highlightBlock(block);
                    });
                });
            </script>
        </span>
    </span>
    <span th:if="${activeTheme.configMap['useCDN'] == 'false'}">
        <script type='text/javascript' th:src="@{${prefix} + '/source/js/jquery.min.js'}"></script>
        <script type='text/javascript' th:src="@{${prefix} + '/source/js/bootstrap-3.3.7/js/bootstrap.min.js'}"></script>
        <script type='text/javascript' th:src="@{'/admin/assets/custom/jquery-search/jquery.hideseek.min.js'}" ></script>
        <script type='text/javascript' th:src="@{'/admin/assets/custom/jquery-search/jquery.search.js'}" ></script>
        <script type='text/javascript' th:src="@{${prefix} + '/source/js/waypoints/jquery.waypoints.min.js'}"></script>
        <script type='text/javascript' th:src="@{${prefix} + '/source/js/circleMagic/circleMagic.min.js'}"></script>
        <script type='text/javascript' th:src="@{${prefix} + '/source/js/jqueryLazyload/jquery.lazyload.min.js'}"></script>
        <span th:if="${isDetail == true}">
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/highlightjs/highlight.pack.js'}"></script>
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/overshare/js/social-share.min.js'}"></script>
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/lightbox/js/lightbox.min.js'}"></script>
            <script type='text/javascript' th:src="@{${prefix} + '/source/js/autoToc/jquery.autoToc.js'}"></script>
            <script type='text/javascript'>
                $("#tocContainer").autoToc({offsetTop: 520});
                document.addEventListener('DOMContentLoaded', (event) => {
                    document.querySelectorAll('figure span').forEach((block) => {
                        hljs.highlightBlock(block);
                    });
                });
            </script>
        </span>
    </span>
    <script type='text/javascript' th:src="@{${prefix} + '/source/js/main.js'}"></script>
</body>
</html>