<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.light.hexo.mapper.mapper.VisitMapper">

    <select id="selectVisitNumByDateList" resultType="java.util.Map">
        SELECT
            v.visit_date AS `date`,
            count(*) AS num
        FROM
            t_visit v
        WHERE
            v.visit_date BETWEEN #{start} AND #{end}
        GROUP BY
            v.visit_date
        ORDER BY NULL
    </select>

    <select id="selectFirstExpireRecord" resultType="com.light.hexo.mapper.model.Visit">
        SELECT
            v.id,
            v.ip_address,
            v.browser,
            v.visit_date
        FROM
            t_visit v
        WHERE
            v.create_time &lt; #{dateTime}
        ORDER BY v.id ASC LIMIT 1
    </select>

    <select id="selectExpireRecords" resultType="com.light.hexo.mapper.model.Visit">
        SELECT
            v.id,
            v.ip_address,
            v.browser,
            v.visit_date
        FROM
            t_visit v
        WHERE
            v.id > #{lastId}
        AND
            v.create_time &lt; #{dateTime}
        ORDER BY v.id ASC LIMIT 1000
    </select>

</mapper>