<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/default/layout}">

<head>
    <meta property="og:title" th:content="${ currentNav.name + ' | ' + #servletContext.getAttribute('configMap')['blog_name']}" />
    <title>[[${currentNav.name}]] | [[${#servletContext.getAttribute('configMap')['blog_name']}]]</title>
</head>

<body>
    <div id="wrap" class="content" layout:fragment="content">
    <!-- 图片 -->
    <div class="image-banner" style="color: #fff">
        <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == true}"><img th:data-original="@{${currentNav.cover}}" class="lazyload"></div>
        <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == false}"><img th:data-original="@{${prefix} + '/source/images/custom.png'}" class="lazyload"></div>
        <div class="descr">
            <a data-pjax th:href="@{/}">首页  /  </a>
            <a href="javascript:void(0)" th:text="${currentNav.name}"></a>
        </div>
        <div class="title" th:text="${currentNav.name}"></div>
    </div>

    <div class="ml-content">
        <div id="postContainer" class="postContainer">
            <div class="post-content"  th:utext="${md.md2html(#objects.nullSafe(currentNav.content, ''))}"></div>
            <div class="alert alert-info" role="alert">
                <ul class="post-copyright">
                    <li>
                        <strong>本文作者:</strong> <b>[[${#servletContext.getAttribute('configMap')['blog_author']}]]</b>
                    </li>
                    <li>
                        <strong>本文链接:</strong> <a id="shareUrl" class="alert-link" th:href="@{${#servletContext.getAttribute('configMap')['home_page']} + ${currentNav.link}}" target="_blank" th:text="${#servletContext.getAttribute('configMap')['home_page'] + currentNav.link}"></a>
                    </li>
                    <li>
                        <strong>版权声明:</strong>  本博客所有文章除特别声明外均为原创，采用 <a th:href="@{${#servletContext.getAttribute('configMap')['license_url']}}" class="alert-link" target="_blank" th:text="${#servletContext.getAttribute('configMap')['license']}"></a> 许可协议。转载请在文章开头明显位置注明原文链接和作者等相关信息，明确指出修改（如有），并通过 E-mail 等方式告知，谢谢合作！
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>