<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/default/layout}">

<head>
    <meta property="og:title" th:content="${'文章列表 | ' + #servletContext.getAttribute('configMap')['blog_name']}" />
    <title>文章列表 | [[${#servletContext.getAttribute('configMap')['blog_name']}]]</title>
</head>

<body>
    <div id="wrap" class="content" layout:fragment="content">
    <!-- 图片 -->
    <div class="image-banner" style="color: #fff">
        <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == true}"><img th:data-original="@{${currentNav.cover}}" class="lazyload"></div>
        <div class="image-content" th:if="${#strings.startsWith(currentNav.cover,'http') == false}"><img th:data-original="@{${prefix} + '/source/images/postList.png'}" class="lazyload"></div>
        <div class="descr">
            <a data-pjax th:href="@{/}">首页  /  </a>
            <a data-pjax th:href="@{'/' + ${link} + '/'}">[[${type}]]  /  </a>
            <a href="javascript:void(0)">[[${name}]]</a></div>
        <div class="title">[[${type}]]相关</div>
    </div>

    <div class="ml-content">
        <div class="ml-content-body">
            <div class="archive-body" id="archives">
                <div th:if="${pageInfo.total > 0}">
                    <div class='archive-content' th:each="post,iterStat : ${newPageInfo.data}">
                        <div class="archives">
                            <div class="animate-box archives-item" data-animate-effect="fadeInUp">
                                <a data-pjax th:href="@{'/'+${post.link}}" style="display: block">
                                    <span class="time">[[${post.year} + '-' + ${post.month} + '-' + ${post.day}]]</span>
                                    <span class="title">[[${post.title}]]</span>
                                    <span class="pull-right hidden-xs">([[${post.readNum}]])</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='archive-title' th:if="${pageInfo.total == 0}">
                    <div style="text-align:center;">
                        ~~找不到数据~~
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination animate-box">
            <a data-pjax class="prev page-numbers page" th:if="${pageInfo.hasPreviousPage}" th:href="@{${pageInfo.pageNum-1} == 1 ? '/' + ${link} + '/' + ${name} + '/': '/' + ${link} + '/' + ${name} + '/page/' + ${pageInfo.pageNum - 1}+'/'}" ><i class="fa fa-angle-left"></i></a>
            <a data-pjax
               th:each="pageNum : ${newPageInfo.navigatepageNums}"
               th:class="${pageNum == pageInfo.pageNum ? 'page current' : 'page'}"
               th:href="@{${pageNum == pageInfo.pageNum ? 'javascript:void(0)' :
           (pageNum == -1 ? 'javascript:void(0)' : '/' + link + '/' + name + '/page/' + pageNum + '/')}}" th:text="${pageNum == -1 ? '...' : pageNum}"></a>
            <a data-pjax class="next page-numbers page" th:if="${pageInfo.hasNextPage}" th:href="@{'/' + ${link} + '/' + ${name} + '/page/' +  ${pageInfo.pageNum + 1} + '/'}" ><i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</div>
</body>
</html>